
<form 
    
    
    
    *ngIf="showAddTask">

<div class="input-group">
    <input class="form-control" name="txtboxName" [(ngModel)]="text" placeholder="Type your task.."/>
</div>
    
<div class="input-group w-50">
    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="modelDate" ngbDatepicker
                #d="ngbDatepicker">
            
    <button class="form-control btn btn-outline-secondary " (click)="d.toggle()" type="button">Select Date</button>            
</div>

<div class="input-group">
    <ngb-timepicker name="dtPicker" [(ngModel)]="time" [meridian]="meridian"></ngb-timepicker>
</div>
    

<div class="form-check">
    <input [(ngModel)]="reminder" class="form-check-input" type="checkbox"  name="flexCheckChecked" >
    <label class="form-check-label" for="flexCheckChecked">
        Set Reminder
    </label>
</div>

 <div class="input-group">
   <button class="btn btn-primary" 
           [swal]="{title: 'Are you sure you want to add this task?' , showCancelButton: true , icon: 'question'}"
           (confirm)="onSubmit()"
           (dismiss)="onDismiss()" 
            >Add Task</button>
   </div>
</form>
<hr/>



